<div id="main-content">
	<h1>Welcome to my Website</h1>
	<div class="col-1">
		<%= image_tag('Daniel.jpg', class: 'profile-pic')%>
		<div id="contact">
			<h3>Contact</h3>
            <ul id="contact-list">
                <li><a href="mailto:Daniel@gailwindslog.com?Subject=Milhound.com%20-%20(Contact)" target="_top">Email</a></li>
                <li><a href="https://twitter.com/Milhound">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/milholland">Linkedin</a></li>
                <li><a href="skype:milhound?call" alt="Milhound">Skype</a></li>
                <li><a href="https://facebook.com/Milhound">Facebook</a></li>
                <li><a href="https://youtube.com/c/Milhoundz">Youtube</a></li>
                <li><a href="https://github.com/Milhound">GitHub</a>
                </li>
            </ul>
        </div>
	</div>
	<div class="col-2">
		<p>
		Mlkshk blue bottle humblebrag 3 wolf moon mixtape. Twee try-hard forage austin, blue bottle cold-pressed shoreditch you probably haven't heard of them. Small batch narwhal bitters keytar yr waistcoat, tacos shabby chic venmo whatever heirloom meditation kale chips banjo. Meh craft beer disrupt +1, chartreuse flexitarian chillwave. Listicle plaid mlkshk, health goth keffiyeh vice celiac crucifix wolf cold-pressed. Chillwave seitan YOLO pug paleo. Fingerstache art party authentic truffaut offal cronut put a bird on it lo-fi, waistcoat four dollar toast artisan yr twee.
		</p>
		<div class="blog-posts">
			<%= @post.each do |post| %>
			<h4><%= post.title %></h4>
			<%= truncate(post.content, :length => 50) %>
			<%= link_to "Go To..", post_path(post) %>
			<br>
			<% end %>
		</div>
	</div>
</div>