<div id="post">

	<h1 class='title'>blog</h1>
	<% if admin_signed_in? %>
		<div class="special-buttons">
			<%= link_to "New", new_post_path%>
		</div>
	<% end %>
	<% @post.each do |post| %>
		<h3><%= post.title %></h3>
		<hr class="decoration">
		<div class="content">
			<p><%= post.content %></p>
			<br>
			<% if admin_signed_in? %>
				<%= link_to "Delete", posts_path(post), method: :delete, data: {confirm: "Are you sure?"}  %>
				<%= link_to "Edit", edit_post_path(post)%>
			<% end %>
			<%= link_to "View", post_path(post) %>
		</div>
	<% end %>
	<br>
</div>