<div id="post">
	<div id="blog" class="wrapper">
		<h1 id="blog-title"><%= @post.title %></h1>
		<div id="socialbtns">
		SHARE:
			<span onclick="javascript:window.open('https://twitter.com/home?status=<%= @post.title %>%20-%20by%20%40Milhound%20%20<%= url_for(:only_path => false) %>', '_blank', 'toolbar=no,width=500, height=300, left=450, top=200');" class="socicon-twitter"></span>
			<span onclick="javascript:window.open('https://www.facebook.com/sharer.php?u=<%= url_for(:only_path => false) %>', '_blank', 'toolbar=no, width=500, height=300, left=450, top=200');" class="socicon-facebook"></span>
			<span onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for(:only_path => false) %>', '_blank', 'toolbar=no,width=500, height=300, left=450, top=200');" class="socicon-googleplus"></span>
		</div>
		<p class="clearfix"><%= markdown @post.content %></p>
		<br>
		<%= link_to "All Blogs", posts_path %>
		<% if admin_signed_in? %>
			<%= link_to "Edit", edit_post_path%>
			<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
		<br>
		<br>
		<div id="disqus_thread"></div>
		<script>
			/*
			var disqus_config = function () {
			this.page.url = <%=request.host%>;
			this.page.identifier = <%=request.fullpath;
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = '//milhound.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>
		Please enable JavaScript to view the 	<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</div>
</div>